

{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}
{% endblock %}

{% block script %}

<script type="text/javascript" src="/assets/moneris_payment/js/moneris.payform.min.js"></script>

<script type="text/javascript" src="/assets/moneris_payment/js/moneris-payment-script.js"></script>
{% endblock %}

{%- block page_content -%}

<div class="page-card" >
    
    <div class="col-sm-12 page-box">
        {% if image %}
            <img src={{image}}>
        {% endif %}

        <div style="width: 66%;margin: 0 auto;">
<h2 class="text-center" style="margin-top: 0;margin-bottom: 15px; float: left;">{{description}}</h2></div>
   
   <div class="col-md-12">
    <div style="{%if customercards | length == 0%}display:none{%endif%}"><input type="radio" name="paymenttype" checked="" value="exist">
        <label>Pay with</label>
    </div>
     <div id="existing-cards" style="{%if customercards | length == 0%}display:none{%endif%}">
       <ul>
    {%for cardinfo in customercards%}
 
        <li data-key="{{cardinfo.data_key}}"><a class="cardinfo">
            {%if cardinfo.card_type=="Visa"%}
            <img src="/assets/moneris_payment/images/visa.png" class="card-image" />
            {%endif%}
             {%if cardinfo.card_type=="Master Card"%}
            <img src="/assets/moneris_payment/images/master.png" class="card-image" />
            {%endif%}
             {%if cardinfo.card_type=="Discover"%}
            <img src="/assets/moneris_payment/images/discover.png" class="card-image" />
            {%endif%}
             {%if cardinfo.card_type=="American Express"%}
            <img src="/assets/moneris_payment/images/american.png" class="card-image" />
            {%endif%}
            <span class="card-no">{{cardinfo.pan}}</span>
            <span class="card-exp">{{cardinfo.expiry}}</span>
        </a></li>
    
    {%endfor%}
    </ul>
   </div> 
     <div style="{%if customercards | length == 0%}display:none{%endif%}"><input type="radio" name="paymenttype" value="new">
        <label>New Card</label>
    </div>
    <form id="payment-form" style="{%if customercards | length >0%}display:none{%endif%}">
            <input type="hidden" value="{{order_id}}" id="PaymentRequestId">
            <div class="form-row">
                <div class="form-group" id="card-number-field">
    <input type="text"   class="form-control" id="card-number" placeholder="Card Number" required="" >
  </div>
  <div class="form-group">
   
    <select class="form-control" id="card-exp-month" style="width:45%;float: left;    margin-bottom: 15px;">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">11</option>
    </select>
    <select class="form-control" id="card-exp-year" style="width:45%;margin-left: 10%;float: left;">
        <option value="18">2018</option>
        <option value="19">2019</option>
        <option value="20">2020</option>
        <option value="21">2021</option>
        <option value="22">2022</option>
        <option value="23">2023</option>
        <option value="24">2024</option>
        <option value="25">2025</option>
        <option value="26">2026</option>
        <option value="27">2027</option>
        <option value="28">2028</option>
        <option value="29">2029</option>
        <option value="30">2030</option>
    </select>
  </div>
    <div class="form-group">
     
    <input type="number" maxlength="4" class="form-control" id="card-cvv"  placeholder="CVV" required="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
  </div>
              

            </div>
         
            <button class="btn btn-sm btn-primary" id="confirm-purchase" type="submit" style="width:100%;font-size: 15px;">
                {{_('Pay')}} {{amount}}</button>
            
           
        </form>
   </div>   


    </div>
       <div class="error">

            </div>
             <div class="success">
                {{ _("Your payment has been successfully registered.") }}
            </div>
</div>
<div class="submit-loading">
    <img src="/assets/moneris_payment/images/loading.gif" />
    <br/>Loading...
</div>
<style type="text/css">
    .page_content
    {
        min-height: 600px;
    }
.submit-loading
{

    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    left: 0;
    background: #000;
    opacity: 0.5;
    padding-top: 20%;
    color: #fff;
    display: none;

}
.card-image
{
    float: left;
    width: 60px;
}
#existing-cards ul li {
    list-style: none;
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 5px;
    float: left;
    width: 100%;
}
#existing-cards {
    float: left;
    width: 100%;
}
#existing-cards ul {
    float: left;
    width: 100%;
    padding-left: 15px;
}
span.card-no, .card-exp {
   float: left;
    width: calc(100% - 75px);
    font-weight: 600;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 14px;
}
.page-card {
    max-width: 360px;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}
.page-box
{
       margin: 70px auto;
    border: 1px solid #d1d8dd;
    padding: 15px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.error
{
    display: none;
       color: red;
    margin: 70px auto;
    width: 360px;
    text-align: center;
}
.success
{
    display: none;
     margin: 70px auto;
    width: 360px;
    text-align: center;
    color: green;
}
.page-card-head
    {
        
    font-size: 15px;
    font-weight: bold;
    
    }
    
    label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 15px;
}
.page-card .btn
{
    margin-top: 0;
}

 input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
</style>

{% endblock %}
